<launch>
    <arg name="turtlebot" default="true" />
    <arg name="slam" default="true" />
    <arg name="tag_detector" default="true" />
    <arg name="pessimistic_mapper" default="true" />
    <arg name="mux" default="true" />
    <arg name="move_base" default="true" />
    <arg name="explore" default="true" />
    <arg name="spinner" default="true" />
    <arg name="rviz" default="true" />

    <group>
        <!-- Arguments -->
        <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

        <arg name="tag_file" default="$(find fhv_labyrinth)/tags/tags.csv"/>
        
        <arg name="tf_prefix" default="$(env ROS_NAMESPACE)" />
        <arg name="frame_prefix" default="$(arg tf_prefix)/" />

        <arg name="frame_map" default="$(arg frame_prefix)map"/>
        <arg name="frame_odom" default="$(arg frame_prefix)odom"/>
        <arg name="frame_scan" default="$(arg frame_prefix)scan"/>
        <arg name="frame_base_link" default="$(arg frame_prefix)base_link"/>
        <arg name="frame_base_footprint" default="$(arg frame_prefix)base_footprint"/>

        <arg name="topic_cmd_vel" default="cmd_vel" />
        <arg name="topic_move_base_vel" default="move_base_vel" />
        <arg name="topic_spinner_vel" default="spinner_vel" />
        <arg name="topic_image" default="raspicam_node/image/compressed" />
        <arg name="topic_map" default="map" />
        <arg name="topic_odom" default="robot_pose" />
        <arg name="topic_scan" default="scan" />
        <arg name="topic_full" default="pessimistic" />
        <arg name="topic_update" default="pessimistic_update" />

        <!-- Turtlebot3 -->
        <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch" if="$(arg turtlebot)">
            <arg name="model" value="$(arg model)" />
            <arg name="multi_robot_name" value="$(arg tf_prefix)" />
        </include>

        <!-- SLAM -->
        <include file="$(find turtlebot3_slam)/launch/turtlebot3_gmapping.launch" if="$(arg slam)">
            <arg name="model" value="$(arg model)"/>
            <arg name="set_base_frame" default="$(arg frame_base_footprint)"/>
            <arg name="set_odom_frame" default="$(arg frame_odom)"/>
            <arg name="set_map_frame"  default="$(arg frame_map)"/>
        </include>

        <!-- Tag Detector -->
        <node pkg="fhv_labyrinth" type="tag_detector.py" name="tag_detector" respawn="false" output="screen" if="$(arg tag_detector)">
            <param name="topic_image" value="$(arg topic_image)" />

            <param name="tag_file" value="$(arg tag_file)" />

            <param name="frame_map" value="$(arg frame_map)" />
            <param name="frame_base_link" value="$(arg frame_base_link)" />
        </node>

        <!-- Pessimistic Mapping -->
        <node pkg="fhv_labyrinth" type="pessimistic_mapper.py" name="pessimistic_mapper" respawn="false" output="screen" if="$(arg pessimistic_mapper)">
            <rosparam file="$(find fhv_labyrinth)/param/pessimistic_mapper_params.yaml" command="load" />

            <param name="topic_map" value="$(arg topic_map)" />
            <param name="topic_odom" value="$(arg topic_odom)" />
            <param name="topic_scan" value="$(arg topic_scan)" />
            <param name="topic_full" value="$(arg topic_full)" />
            <param name="topic_update" value="$(arg topic_update)" />

            <param name="frame_map" value="$(arg frame_map)" />
            <param name="frame_base_link" value="$(arg frame_base_link)" />

        </node>

        <!-- Multiplexer -->
        <node pkg="topic_tools" type="mux" respawn="false" name="mux" args="$(arg topic_cmd_vel) $(arg topic_move_base_vel) $(arg topic_spinner_vel)" if="$(arg mux)" />

        <!-- Movement -->
        <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen" if="$(arg move_base)">
            <!-- Move Base -->
            <rosparam file="$(find fhv_labyrinth)/param/move_base_params.yaml" command="load" />
            <!-- Global Planner -->
            <rosparam file="$(find fhv_labyrinth)/param/global_planner_params.yaml" command="load" />
            <!-- Local Planner -->
            <rosparam file="$(find fhv_labyrinth)/param/dwa_local_planner_params.yaml" command="load" />
            <!-- Global Costmap -->
            <rosparam file="$(find fhv_labyrinth)/param/global_costmap_params.yaml" command="load" />
            <!-- Local Costmap -->
            <rosparam file="$(find fhv_labyrinth)/param/local_costmap_params.yaml" command="load" />
            <!-- Renamings -->
            <remap from="cmd_vel" to="$(arg topic_move_base_vel)"/>
        </node>

        <!-- Autonomous Exploration -->
        <node pkg="explore_lite" type="explore" respawn="false" name="explore" if="$(arg explore)">
            <rosparam file="$(find fhv_labyrinth)/param/explore_lite_params.yaml" command="load" />
            <param name="robot_base_frame" value="$(arg frame_base_link)"/>
            <param name="costmap_topic" value="$(arg topic_full)"/>
            <param name="costmap_updates_topic" value="$(arg topic_update)"/>
        </node>

        <!-- Spin once at start -->
        <node pkg="fhv_labyrinth" type="spinner.py" name="spinner" respawn="false" if="$(arg spinner)">
            <param name="topic" value="$(arg topic_spinner_vel)" />
        </node>

        <!-- Visualzation -->
        <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find fhv_labyrinth)/rviz/discover.rviz" if="$(arg rviz)"/>
    </group>
</launch>
