<launch>
  <!-- Arguments -->
  
  <!-- Autonomous Exploration -->
  <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
    <!-- robot_base_frame (string, default: base_link) -->
    <!-- The name of the base frame of the robot. This is used for determining robot position on map. Mandatory. -->
    <param name="robot_base_frame" value="base_link"/>

    <!-- costmap_topic (string, default: costmap) -->
    <!-- Specifies topic of source nav_msgs/OccupancyGrid. Mandatory. -->
    <param name="costmap_topic" value="map"/>

    <!-- <param name="costmap_topic" value="move_base/global_costmap/costmap"/> -->
    <!-- costmap_updates_topic (string, default: costmap_updates) -->
    <!-- Specifies topic of source map_msgs/OccupancyGridUpdate. Not necessary if source of map is always publishing full updates, i.e. does not provide this topic. -->
    <param name="costmap_updates_topic" value="map_updates"/>

    <!-- <param name="costmap_updates_topic" value="move_base/global_costmap/costmap_updates"/> -->
    <!-- visualize (bool, default: false) -->
    <!-- Specifies whether or not publish visualized frontiers. -->
    <param name="visualize" value="true"/>

    <!-- planner_frequency (double, default: 1.0) -->
    <!-- Rate in Hz at which new frontiers will computed and goal reconsidered. -->
    <param name="planner_frequency" value="0.1"/><!-- 0.33 -->

    <!-- progress_timeout (double, default: 30.0) -->
    <!-- Time in seconds. When robot do not make any progress for progress_timeout, current goal will be abandoned. -->
    <param name="progress_timeout" value="5.0"/><!-- 30.0 -->

    <!-- potential_scale (double, default: 1e-3) -->
    <!-- Used for weighting frontiers. This multiplicative parameter affects frontier potential component of the frontier weight (distance to frontier). -->
    <param name="potential_scale" value="0.01"/><!-- 3.0 -->

    <!-- orientation_scale (double, default: 0) -->
    <!-- Used for weighting frontiers. This multiplicative parameter affects frontier orientation component of the frontier weight. This parameter does currently nothing and is provided solely for forward compatibility. -->
    <param name="orientation_scale" value="0.0"/>

    <!-- gain_scale (double, default: 1.0) -->
    <!-- Used for weighting frontiers. This multiplicative parameter affects frontier gain component of the frontier weight (frontier size). -->
    <param name="gain_scale" value="0.5"/><!-- 1.0 -->

    <!-- transform_tolerance (double, default: 0.3) -->
    <!-- Transform tolerance to use when transforming robot pose. -->
    <param name="transform_tolerance" value="0.5"/><!-- 0.3 -->

    <!-- min_frontier_size (double, default: 0.5) -->
    <!-- Minimum size of the frontier to consider the frontier as the exploration goal. In meters. -->
    <param name="min_frontier_size" value="0.05"/><!-- 0.75 -->
  </node>
</launch>
