<launch>
    <arg name="turtlebot" default="true" />
    <arg name="camera" default="true" />

    <group>
        <!-- Arguments -->
        <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
        
        <arg name="tf_prefix" default="$(env ROS_NAMESPACE)" />
        <arg name="frame_prefix" default="$(arg tf_prefix)/" />

        <arg name="frame_base_scan" default="$(arg frame_prefix)base_scan"/>
        
        <!-- Turtlebot3 -->
        <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch" if="$(arg turtlebot)">
            <arg name="multi_robot_name" value="$(arg tf_prefix)" />
            <!-- TODO: check if this is needed -->
            <arg name="set_lidar_frame_id" value="$(arg frame_base_scan)" />
        </include>

        <!-- RaspiCam -->
        <include file="$(find raspicam_node)/launch/camerav2_1280x720.launch" if="$(arg camera)" />
    </group>
</launch>
