<launch>
    <arg name="turtlebot" default="true" />
    <arg name="mapserver" default="true" />
    <arg name="localization" default="true" />
    <arg name="move_base" default="true" />
    <arg name="coop_tag_finder" default="true" />
    <arg name="mux" default="true" />
    <arg name="rviz" default="true" />

    <group>
        <!-- Arguments -->
        <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

        <arg name="map_file" default="$(find fhv_labyrinth)/maps/labyrinth.yaml"/>
        <arg name="tag_file" default="$(find fhv_labyrinth)/tags/tags.csv"/>

        <arg name="tf_prefix" default="$(env ROS_NAMESPACE)" />
        <arg name="frame_prefix" default="$(arg tf_prefix)/" />

        <arg name="frame_map" default="$(arg frame_prefix)map"/>
        <arg name="frame_odom" default="$(arg frame_prefix)odom"/>
        <arg name="frame_scan" default="$(arg frame_prefix)scan"/>
        <arg name="frame_base_link" default="$(arg frame_prefix)base_link"/>
        <arg name="frame_base_footprint" default="$(arg frame_prefix)base_footprint"/>
        
        <arg name="topic_cmd_vel" default="cmd_vel" />
        <arg name="topic_move_base_vel" default="move_base_vel" />
        <arg name="topic_finder_vel" default="finder_vel" />
        <arg name="topic_search" default="$(env COOP_SEARCHING_TOPIC)" />
        <arg name="topic_found" default="$(env COOP_REACHED_TOPIC)" />

        <!-- Turtlebot3 -->
        <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch" if="$(arg turtlebot)">
            <arg name="model" value="$(arg model)" />
            <arg name="multi_robot_name" value="$(arg tf_prefix)" />
        </include>

        <!-- Load Map -->
        <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen" if="$(arg mapserver)">
            <param name="frame_id" value="$(arg frame_map)"/>
        </node>

        <!-- Localization -->
        <node pkg="amcl" type="amcl" name="amcl" output="screen" if="$(arg localization)">
            <rosparam file="$(find fhv_labyrinth)/param/amcl_params.yaml" command="load" />
            <param name="odom_frame_id"             value="$(arg frame_odom)"/>
            <param name="base_frame_id"             value="$(arg frame_base_footprint)"/>
            <param name="global_frame_id"           value="$(arg frame_map)"/>
        </node>

        <!-- Multiplexer -->
        <node pkg="topic_tools" type="mux" respawn="false" name="mux" args="$(arg topic_cmd_vel) $(arg topic_move_base_vel) $(arg topic_finder_vel)" output="screen" if="$(arg mux)" />

        <!-- Movement -->
        <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen" if="$(arg move_base)">
            <!-- Move Base -->
            <rosparam file="$(find fhv_labyrinth)/param/move_base_params.yaml" command="load" />
            <!-- Global Planner -->
            <rosparam file="$(find fhv_labyrinth)/param/global_planner_params.yaml" command="load" />
            <!-- Local Planner -->
            <rosparam file="$(find fhv_labyrinth)/param/dwa_local_planner_params.yaml" command="load" />
            <!-- Global Costmap -->
            <rosparam file="$(find fhv_labyrinth)/param/global_costmap_params.yaml" command="load" />
            <!-- Local Costmap -->
            <rosparam file="$(find fhv_labyrinth)/param/local_costmap_params.yaml" command="load" />
            <!-- Renamings -->
            <remap from="cmd_vel" to="$(arg topic_move_base_vel)"/>
        </node>

        <!-- Coop Tag Finder -->
        <node pkg="fhv_labyrinth" type="coop_tag_finder.py" name="coop_tag_finder" output="screen" respawn="false" if="$(arg coop_tag_finder)">
            <param name="filename" value="$(arg tag_file)"/>

            <param name="topic_search" value="$(arg topic_search)" />
            <param name="topic_found" value="$(arg topic_found)" />
            <param name="topic_vel" value="$(arg topic_finder_vel)" />

            <param name="frame_map" value="$(arg frame_map)" />

            <param name="sound" value="$(find fhv_labyrinth)/sounds/sound.mp3" />

        </node>

        <!-- Visualzation -->
        <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find fhv_labyrinth)/rviz/visitor.rviz" if="$(arg rviz)"/>
  </group>
</launch>
